#register{   float: right;  width: 10%;  }

#header{  text-align : center;  padding-top:10px;  }
.content{  margin:auto;  width:300px;  position: relative;  top:150px;  padding-top:30px;  padding-bottom:40px;  padding-left:30px;  padding-right:30px;  border-style: groove;  border-width:3px;  border-radius: 6px;  }
#d1{  padding-top:20px;  position: relative;  left:30px;  }
#d2{  padding-top:10px;  position: relative;  left:30px;  }
#d3{  padding-top:20px;  position: relative;  left:30px;  }
#b1{  position: relative;  left:40px;  }
#b2{  position: relative;  left:90px;  }
#a1{ /*float:right;*/  width:70%;  }
#a11{  position: relative;  left: 190px;  top: 3px;}
#img1{ width: 21px; height: 21px}
#a2{ /*float:right;*/  width:70%; position: relative;  left: 10px;}